* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  color: white;
}

/* CONTENEUR */
.container {
  display: flex;              /* ← important */
  flex-direction: column;     /* ← FORCE le retour à la ligne */

  width: 100%;
  max-width: 420px;
  padding: 25px;
  margin: 15px;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 22px;
  text-align: center;

  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

/* TEXTES */
h1 {
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
  font-size: 1.1rem;
}

/* IMAGE */
img {
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

/* INPUT + BOUTON */
input,
button {
  width: 100%;
  padding: 14px;
  margin-top: 12px;

  border-radius: 12px;
  border: none;
  font-size: 1rem;
}

button {
  margin-top: 16px;
  border-radius: 20px;
  background: #ff4d6d;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
